@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base adicionales */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  position: relative;
}

.table-data-area {
  width: 100%;
  overflow-x: auto;
}
.user-table {
  min-width: 1000px;
}

th:hover .header-menu-trigger {
  opacity: 1 !important;
}
